.container-pag {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.container-pag main {
    flex: 1;
    min-width: 0;
    /* background-color: #4D3E2B; */
    background-color: #3d0c02;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#filme-intro {
    text-align: center;
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.4);
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    background: linear-gradient(45deg, darkgreen, green, lightgreen, green, darkgreen);
    background-size: 300% 300%; 
    animation: gradient-animation 10s ease infinite;
    color: aliceblue;
    border-radius: 0 0 20% 20%;
    box-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.75);
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%; 
    }
    100% {
        background-position: 0% 50%; 
    }
}


#wrapper-grid {
    /* max-width: 1400px; 
    margin: 0 auto; */
    padding: 6rem 2rem;
    display: grid;
    flex-grow: 1;
    gap: 1.2rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    position: relative;
    /* height: 100%; */
}

#wrapper-grid article {
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    aspect-ratio: 2 / 3;
    cursor: pointer;
    border-radius: 0.4rem;
    border: 2px inset snow;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 1rem;
    position: relative;
    overflow: hidden;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.4));
}

#wrapper-grid article::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0,0,0,0));
}

#wrapper-grid article:hover {
    opacity: 0.8;
}

#wrapper-grid article h6 {
    font-size: medium;
    color: white;
    z-index: 2;
    text-align: center;
}

.bookmark {
    position: absolute;
    top: -2px;
    left: -8px;
}

.bookmark:hover {
    opacity: 0.8;
    /* background-color: rgba(0, 0, 0, 0.4); */
}

.bookmark img {
    height: 2.5rem;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
}

.article-gone {
    display: none;
}

.modal { 
    inset: 0; 
    z-index: 9;
    /* background-color: #3d0c02; */
    background: rgba(0,0,0,0.55);
    display: none;
    position: fixed;
    z-index: 9;
    overflow: auto;
    top: 4.6rem;
}

/* Chrome, Safari and Opera */
.modal::-webkit-scrollbar {
  display: none;
}

/* IE, Edge and Firefox */
.modal {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
} 

.modal-activ {
    display: flex;
    flex-direction: column;
}

.modal-antet {
    display: flex;
    justify-content: flex-end;
    padding: 0.75rem;
}

.modal-antet button {
    background-color: transparent;
    border: none;
    font-size: 3rem;
    user-select: none;
    cursor: pointer;
    color: lightgray;

}

.modal-antet button:hover {
    color: honeydew;
}

.modal-continut {
    padding: 1.5rem;
}

.modal-continut{
    width: 100%;
    max-width: 1400px;     
    margin: 0 auto;
    background: #3d0c02;  
    margin-top: 1.7rem;
}

.descriere {
    display: flex;
    gap: 1rem;
    color: whitesmoke;
}

.poster {
    max-height: 22.5rem;
    min-width: 15rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    aspect-ratio: 2 / 3;
}

.titlu {
    font-size: 2rem;
}

.detalii {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.detalii p span, .detalii p {
    font-size: 1.1rem;
}

.detalii span {
    color: lightgrey;
}

.video-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    gap: 1rem;
}

.video-box h4 {
    font-size: 1.75rem;
    color: whitesmoke;
}

.iframe-wrap{
  width: min(100%, 951px);   
  aspect-ratio: 16 / 9;
}

.iframe-wrap iframe{
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}

@media (max-width: 552px) {
    .poster {
        max-height: 18rem;
        min-width: 12rem;
    }

    .titlu {
        font-size: 1.5rem;
    }

    .detalii p span, .detalii p {
        font-size: 0.9rem;
    }
}

@media (max-width: 470px) {
    .poster {
        max-height: 15rem;
        min-width: 10rem;
    }

    .titlu {
        font-size: 1.2rem;
    }

    .detalii p span, .detalii p {
        font-size: 0.78rem;
    }
}

body.no-scroll{ 
    overflow: hidden; 
}