@font-face {
    font-family: 'Christmas';
    src: url("../resurse/fonts/MerryChristmasFlake.ttf");
}

footer {
    font-family: 'Montserrat';
    color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 100%;
    background-color: rgb(39,39,43);
    z-index: 99999;
    box-shadow: 0 0.6rem 10px rgba(0, 0, 0, 0.3) inset;
    flex-wrap: wrap;
    left: 0;
}

footer hr {
    height: 0.5px;
    width: 100%;
    background-color: lightgray;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    order: 2;
}

.copyright > h3 {
    font-family: Christmas;
    font-size: 2rem;
    color: rgb(243, 165, 9);
}

.copyright > svg {
  width: 150px;
  height: auto;

}

.contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding-left: 1rem;
    align-items: flex-start;
    order: 1;
}

.contact > div {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
}

.contact > div > img {
    height: 1.5rem;
    width: auto;
}

.contact > div > address {
    color: lightgray;
    text-align: left;
    line-height: 1.5;
}

.social {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-right: 1rem;
    align-items: center;
    order: 3;
}

.social > a {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transition: transform 0.2s;
}

.social > a:hover {
    transform: scale(1.2);
}

.facebook {
    background-color: rgb(24, 119, 242);
}

.instagram {
    background: linear-gradient(45deg, #405DE6, #833AB4, #C13584, #E1306C, #FD1D1D, yellow)
}

.x {
    background-color: black;
}

.social > a > img {
    height: 70%;
    width: 70%;
    object-fit: contain;
}

@media (max-width: 769px) {

    footer {
        flex-direction: column;
        gap: 2rem;
    }

    .contact {
        order: 1;
        align-items: center;
        padding: 0;
    }

    .social {
        order: 2;
        padding: 0;
    }

    .copyright {
        order: 3;
    }
}

 