@font-face {
    font-family: 'Christmas';
    src: url("../resurse/fonts/MerryChristmasFlake.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body, html {
    background-color: #184F61;
    height: 100%;
    width: 100%;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    position: fixed;
    top: 0;
    background-color: rgb(216, 19, 26);
    height: 4.6rem;
    z-index: 999;
    user-select: none;
    padding: 0 1rem;
    box-shadow: 0 4px 5px rgba(0,0,0,0.3);
    border-bottom: solid rgb(241, 69, 69);
}

.link {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
}

#logo {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.link > h1 {
    font-family: Christmas;
    font-size: 3rem;
    color: rgb(243, 165, 9);
    transition: text-shadow 0.2s;
}

.link > h1:hover {
    text-shadow: 0 0 2px rgb(0, 0, 0);
}

#logo > svg {
    height: 75px;
    width: 68px;
}

nav {
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

nav a {
    text-decoration: none;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

nav > ul {
    list-style-type: none;
    display: flex;
    text-align: center;
    height: 100%;
}

nav > ul > li, .meniu > li {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    height: 100%;
}

nav > ul > li:hover, .meniu > li:hover {
    background-color: rgb(122, 12, 12);
    cursor: pointer;
    text-shadow: 0 0 2px white;
}

nav > ul > li:nth-child(2) {
    position: relative;
    flex-shrink: 0;
}

nav > ul > li:nth-child(2) > .wrapper-submeniu {
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.sageata {
    vertical-align: middle;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    transform: rotate(-90deg);
    font-size: 1rem;
}

.dropdown-text {
    display: inline-block;
}

.dropdown-label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    height: 100%;
    width: 100%;
    user-select: none;
    padding: 0 1rem;
}

#dropdown {
    display: none;
}

.submeniu {
    font-size: 0.9rem;
    position: absolute;
    display: none;
    list-style-type: none;
    top: 100%;
    left: 0;
    background-color: rgb(216, 19, 26);
    border-radius: 0  0 5px 5px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

/* .submeniu > li {
    padding: 0.8rem 1.2rem;
    transition: background-color, 0.3s;
} */

.submeniu > li {
    transition: background-color, 0.3s;
}

.submeniu a {
    padding: 1rem 2rem;
}

.submeniu > li:hover {
    background-color: red;
    text-shadow: 0 0 2px rgb(12, 0, 0);
    border-radius: inherit;
}

#dropdown:checked + .dropdown-label .sageata {
    transform: rotate(90deg);
}

.submeniu-responsive:has(#dropdown:checked) .submeniu {
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    width: max-content;
}

.submeniu-responsive:has(#dropdown:checked), .submeniu-responsive:has(#dropdown2:checked) {
    background-color: rgb(122, 12, 12);
}

/* nav > ul > li:nth-child(2):has(#dropdown:checked) {     //varianta modernă de a menține activ efectul pe un element selectat din meniul de navigație
    background-color: red;
} */

.submeniu > li > a::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    transform: scale(2.5);
    margin-right: 1.25rem;
}

#europa::before {
    background-image: url(../resurse/imagini/submeniu/europa.png); 
}

#america::before {
    background-image: url(../resurse/imagini/submeniu/nord.png);
    height: 1.5rem;
}

#america::after {
    content: "";
    display: inline-block;
    background-image: url(../resurse/imagini/submeniu/sud.png);
    width: 1rem;
    height: 1.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    transform: scale(2.5);
    margin-left: 1.25rem;
}

#australia::before {
    background-image: url(../resurse/imagini/submeniu/australia.png);
}

#asia::before {
    background-image: url(../resurse/imagini/submeniu/asia.png);
}

#australia::before {
    background-image: url(../resurse/imagini/submeniu/australia.png);
}

#africa::before {
    background-image: url(../resurse/imagini/submeniu/africa.png);
    transform: scale(2);
}

#glob {
    font-weight: bold;
    font-size: 1.25rem;
    font-size-adjust: 0.4;
    text-align: center;
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 50%;
    background: white;
    position: relative;
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    padding-top: 0.8rem;
    justify-content: center;
    cursor: pointer;
    background-image: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 38%, rgba(255, 255, 255, 1) 50%, #FFF8C7 90%, #FFF8C7 100%);
}
 
#glob::before {
    content: '';
    position: absolute;
    top: 70%;
    left: 50%;
    width: 4.5rem;
    height: 1.5rem;
    background-color: black;
    transform: translateX(-50%) perspective(85px) rotateX(35deg);
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(41, 41, 41, 1), transparent, rgba(41, 41, 41, 1), rgba(0, 0, 0, 1));
}

#glob:hover {
    filter: drop-shadow(0 -10px 1rem gold);
}

#hamburger-clic, #hamburger-clic-label {
    display: none;
}

#overlay {
    display: none;
}

@media (max-width: 1117px) {

    .link > h1 {
        display: none;
    }
}

@media (max-width: 871px) {

    header {
        justify-content: space-between;
        padding-right: 0;
    }

    .link > h1 {
        display: initial;
    }

    nav {
        display: none;
        background-color: rgb(216, 19, 26);
    }

    #hamburger-clic {
        display: none;
    }

    #hamburger-clic-label {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        user-select: none;
        padding: 0 1rem;
        background-color: yellow;
        cursor: pointer;
        order: 999;
    }

    #hamburger-clic-label .l1, #hamburger-clic-label .l2, #hamburger-clic-label .l3 {
        background-color: yellow;
        transition: transform 0.3s ease-in, opacity 0.1s;
    }

    #hamburger-clic:checked + #hamburger-clic-label .l1 {
        transform-origin: center;
        y: 20;
        transform: rotate(45deg);
    }

    #hamburger-clic:checked + #hamburger-clic-label .l3 {
        transform-origin: center;
        y: 20;
        transform: rotate(-45deg);
    }

    #hamburger-clic:checked + #hamburger-clic-label .l2 {
        opacity: 0;
    }

    #overlay {
        background-color: green;
        position: fixed;
        top: 4.6rem;
        min-height: calc(100dvh - 4.6rem);
        width: 100%;
        z-index: 99;
        display: none;
        align-items: flex-start;
        justify-content: flex-start;
        user-select: none;
        font-weight: 700;
    }
    
    #overlay a {
        text-decoration: none;
        color: white;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
    }

    header:has(#hamburger-clic:checked) + #overlay {
        display: flex;
    }

    header:has(#hamburger-clic:checked) ~ .container-pag main .burger-cuprins {
        display: none;
    }

    .meniu {
        /* all: initial; */
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        cursor: pointer;
        flex-shrink: 0;
    }

    .meniu > li {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 4rem;
        padding: 0;
        padding-left: 1rem;
    }

    .submeniu-responsive {
        display: flex;
        flex-direction: column !important;
        position: static;
        padding-left: 0 !important;
    }

    .submeniu > li {
        all: initial;
        height: 100%;
        display: flex;
        z-index: 99;
        height: 3rem;
        padding-left: 2rem;
        cursor: pointer;
        color: white;
        font-family: "Montserrat";
        align-items: center;
        font-weight: 700;
        font-size: 0.9rem;
        background-color: rgb(16, 126, 16);
    }

    #dropdown2 {
        display: none;
    }

    .wrapper-submeniu {
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        flex-shrink: 0;
    }

    .dropdown-label {
        justify-content: flex-start;
        height: 100%;
        padding-left: 1rem;
    }

    .wrapper-submeniu #dropdown2:checked + .dropdown-label .sageata {
        transform: rotate(90deg);
    }

    .wrapper-submeniu #dropdown2:checked + .dropdown-label {
        height: 4rem;
    }


    .submeniu-responsive:has(#dropdown2:checked) .submeniu {
        display: flex;
        position: static;
        flex-direction: column;
        width: 100%;
        flex: 2;
        background-color: rgb(216, 19, 26);
        box-shadow: none;
        border-radius: 0;
        user-select: none;
        height: 9rem;
    }

    .submeniu-responsive:has(#dropdown2:checked) {
        height: 150%;
        flex-shrink: 0;
    }
}

@media (max-width: 518px) {

    .link > h1 {
        display: none;
    }
}
