#brad-fundal {
    fill: snow;
}

#stea {
    fill: gold;
}

#trunchi {
    fill: rgb(58,28,28);
}

#luciu {
    fill: white;
}

.nivel {
    fill: rgb(53, 88, 41);
}

.bec {
    fill: yellow;
}

.cablu {
    fill: rgb(23, 23, 23);
}


