main {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-grow: 1;
    margin-top: 4.6rem;
    gap: 1.5rem;
    padding: 2rem;
    align-items: center;
    background: #22C1C3;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    width: 100%;
}

.intro-scrisoare {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.intro-scrisoare img {
    display: block;
    height: auto;
    width: 8rem;
    object-fit: cover;
    object-position: center;
}

.intro-scrisoare h3 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    font-size: clamp(1.2rem, 1.3vw, 1.5rem);
}

main hr {
    width: 100%;
    border: 1px solid black;
}

#scrisoare-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

#scrisoare-form label {
    font-size: 1.2rem;
    font-weight: 500;
}

.input-grup {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.input-grup input {
    height: 2rem;
    outline: none;
    border-radius: 1rem;
    padding: 0 1rem;
    border: none;
    font-size: 0.9rem;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.3));
    max-width: 25rem;
    transition-duration: 0.25s;
}

.nr-grup {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nr-grup input {
    border: none;
    outline: none;
    padding: 0.08rem;
    text-align: center;
    height: 2rem;
    font-size: 0.9rem;
    border-radius: 1rem;
    font-weight: bolder;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.3));
    transition-duration: 0.25s;
}

.input-grup textarea {
    border: none;
    outline: none;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.3));
    font-size: 0.9rem;
    min-height: 5rem;
    padding: 1rem;
    width: 40rem;
    max-width: 100%;
    transition-duration: 0.25s;
    resize: vertical;
    border-radius: 6px;
}

input:focus {
    transform: scale(1.05);
}

textarea:focus {
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.9));
}

.date-personale {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#scrisoare-form button {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    cursor: pointer;
    gap: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 12px;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.3));
    transition-duration: 0.3s;
}

#scrisoare-form button:hover {
    opacity: 0.9;
}

#scrisoare-form button:active {
    transform: scale(0.9);
}

#scrisoare-form button img {
    height: fit-content;
    width: 4rem;
    object-fit: cover;
    object-position: center;
}

#scrisoare-form button h5 {
    font-size: 1rem;
}