.slideshow {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 16 / 9;
    flex: 1.75;
}

.slideshow span {
    font-size: 2rem;
    cursor: pointer;
    color: rgb(59, 29, 29);
    transition-duration: 0.3s;
    user-select: none;
}

.slideshow span:hover {
    transform: scale(1.4);
}

.slideshow span:active {
    transform: scale(0.8);
}

.slideshow-wrapper {
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: relative;
    border-radius: 2%;
    overflow: hidden;
}

.slideshow-wrapper a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.slideshow img {
    width: 100%;
    height: 100%;    
    display: block;     
    margin: 0 auto;     
    object-fit: cover;
}

.slideshow-wrapper h4 {
    background: rgba(0, 0, 0, 0.5);
    color: snow;
    text-align: center;
    font-size: 1.1rem;
    padding: 1rem;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.slideshow-wrapper a.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

